@model IEnumerable<MvcUploadFile.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h4>List of Employees</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.EmployeeId">Delete</a>
                <a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.EmployeeId">Details</a>
                <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.EmployeeId">  Edit  </a>
            </td>
        </tr>
}
    </tbody>
</table>
